
.lesEtoiles{
    margin-bottom: 1rem;
    &_complet{
        @include backgroundImage("../img/icon/etoile.png");
    }&_vide{
        @include backgroundImage("../img/icon/etoile-2.png");
    }&_moitie{
        @include backgroundImage("../img/icon/etoile-3.png");
    }& div{
        background-size: contain;
        height: 2rem;
        width: 2rem;
        margin: 0% 0.25rem 0% 0.25rem;
        color: $primary;
    }
}